@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}
.footer-center{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}


}

@media screen and (min-width: 990px) {
.academic .sec-title{
  padding-right: 60px;
}

.team-card-holder .row .row .col-md-9 .faculty-parahs p {
  display: block;
  -webkit-line-clamp: 0;
  -webkit-box-orient: inherit;
  overflow: visible;
}

.team-card-holder .row .row .col-md-9 .faculty-parahs p~p {
  display: block;
}

/* .team-card-holder .row .row .col-md-9 .faculty-parahs p:last-child {
  display: none;
} */

.team-card-holder .row .row .col-md-9 .faculty-parahs p:nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.why-choosing-us-2 .why-us-img img {
  min-height: 500px;
}

}

@media screen and (max-width: 990px) {
  .header-top-right {
    display: none;
  }
  .path-spacer{
    display: none;
  }
  

  .dubai-nav-holder {
    padding: 10px 0;
    background: white;
    margin-bottom: 20px;
    z-index: 99;
  }

  .dubai-nav-holder ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
    z-index: 99;
  }

  .dubai-nav-holder ul li {
    scroll-snap-align: start;
    padding: 5px 20px;
    background: #F9FAFB;
    border-radius: 25px;
  }

  .dubai-nav-holder ul li a {
    white-space: nowrap;
  }

  .dubai-content-holder img {
    margin: 10px 0;
  }

  .menu-btn {
    display: flex;
  }

  .why-choosing-us .sec-title {
    margin-bottom: 0;
  }

  .header-top-left a {
    font-size: 0px;
  }

  .trust-counter-box {
    width: 100%;
    padding: 0 0px;
    text-align: center;
    border: none;
  }


  .trust-counter-holder {
    margin-top: 40px;
  }

  .trust-counter-box {
    margin: 10px 0;
  }

  .trust-counter-box h4 {
    font-size: 30px;
  }




  .header-top-left a:nth-child(1)::before {
    display: block;
  }

  .header-top-left a:nth-child(2)::before {
    display: block;
  }

  .header-bottom-right a:last-child {
    position: absolute;
    top: -52px;
    font-size: 14px;
    font-weight: 400;
    right: 0;
    white-space: nowrap;
    padding: 0;
    border: none;
  }

  .header-bottom-right a:last-child img {
    display: none;
  }

  .header-bottom-left nav {
    position: fixed;
    left: -40px;
    top: 0;
    max-width: 300px;
    width: 0;
    height: 100vh;
    background: white;
    padding: 20px;
    z-index: 999;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 2px #00000030;
  }

  nav.open {
    width: 250px;
    left: 0;
    overflow: visible;
  }

  a.logo {
    position: relative;
    z-index: 9999999;
  }

  .header-bottom-left nav ul {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .header-bottom-left nav ul li {
    width: 100%;

  }

  .header-dropdown-holder ul li a p {
    font-size: 11px;
  }

  .header-dropdown-holder ul li a h5 {

    font-size: 14px;
  }

  .header-dropdown-holder {
    min-width: 260px;
  }

  .header-bottom-left nav ul li ul {
    flex-wrap: nowrap;
    overflow: scroll;
    min-height: 200px;
    justify-content: inherit;
    align-items: inherit;
    max-height: 350px;
    height: 100%;
  }

  .footer-content-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .why-us-img img {
    margin: 20px 0;
  }

  .why-us-box-holder {
    margin: 20px 0;
  }


}

@media screen and (max-width: 767px) {
  .banner {
    padding: 40px 40px;
    border-radius: 0;
  }
  .partner-logo{
    margin: 0 auto;
  }
  .qualification-info-box p{

    font-size: 14px;
  }
  .partner-slide-left, .partner-slide-right {

    top: inherit;
    bottom: -50px;
}
.partner-slide-left {
  left: 40%;
}
.partner-slide-right {
  right: 40%;
}
.partner-content-box{
  width: 100%;
  padding: 0 !important;
}
.path-card{
  min-height: auto;
}

.opportunity-sec.inner h4{

  font-size: 18px;
  padding: 0;
}


  .programs-navigator{
    margin-bottom: 25px;
  }
  .program-detail-holder h4 {

    font-size: 22px;
}
.program-detail-holder h3 {

  font-size: 20px;
}
.program-detail-holder h5 {
  font-size: 16px;
}
.program-detail-holder ul li {

  font-size: 12px;
  margin: 5px 0;

}
.breadcrum-holder ul li a {
  font-size: 12px;
}
.breadcrum-holder ul {
  gap: 20px;
}


.breadcrum-holder ul li a::after {

  right: -17px;
  top: 1px;
  width: 12px;
  height: 12px;
}
.program-outcome h4 {
  font-size: 22px;
}


  .banner-container {
    width: 100% !important;

    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }

  .banner-content h1 {
    font-size: 45px;
  }

  .banner-content p {
    margin: 20px 0;
    font-size: 16px;
  }

  .banner-btn-holder {
    flex-wrap: wrap;

  }

  .collaboration-logo-holder {
    overflow: hidden;
  }

  .collaboration-logo-holder ul {
    width: 140%;
    overflow: scroll;
    justify-content: inherit;
    gap: 15px;
    scroll-snap-type: x mandatory;
  }

  .collaboration-logo-holder ul li {
    width: fit-content;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
  }

  .collaboration-logo-holder ul li img {
    width: 90px;
    height: 80px;
  }

  .banner-content h1 {
    font-size: 40px;
  }

  .proposition-sec {
    padding: 40px 0 0 0;
  }

  .footer-content-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-title h2 {

    font-size: 30px;
  }

  .sec-title h5 {
    font-size: 14px;
  }

  .sec-title {

    margin-bottom: 30px;
  }

  .save-big {
    margin-bottom: 40px;
    padding: 20px;
  }

  .save-big p {
    margin: 20px 0;
  }

  .save-big h5 {
    font-size: 20px !important;
    margin-bottom: 0 !important;
  }

  .save-big::before {
    content: '';
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50% !important;
    background-image: url(../images/save-big-bg.png);
    transition: 0.2s;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .save-big a {
    width: 100%;
    text-align: center;
  }

  .why-choosing-us {
    padding: 40px 0;
  }

  .mobm-b-0 {
    margin-bottom: 0;
  }

  .mobm-t-0 {
    margin-top: 0;
  }

  .mobm-r-0 {
    margin-right: 0;
  }

  .mobm-l-0 {
    margin-left: 0;
  }

  .mobp-b-0 {
    padding-bottom: 0;
  }

  .mobp-t-0 {
    padding-top: 0;
  }

  .mobp-r-0 {
    padding-right: 0;
  }

  .mobp-l-0 {
    padding-left: 0;
  }

  .programs-sec {
    padding: 40px 0;
  }

  .programs-tab-btn-holder {
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  .programs-tab-btn-holder button {
    white-space: nowrap;
    scroll-snap-align: start;
  }

  .program-icon {
    margin-bottom: 20px;
  }

  a.view-programs-btn {
    margin-top: 20px;
  }

  .global-presence {
    padding: 40px 0;
  }

  .trusted-sec {
    padding: 40px 0;
  }

  .trust-counter-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .student-experience {
    padding: 40px 0;
  }

  .sec-title p {
    font-size: 14px !important;
  }

  .testi-section {
    padding: 40px 0;
  }

  .testi-box {
    margin: 10px 0;
  }

  .testi-box-holder a {
    margin-top: 20px;
  }

  .journey {
    padding: 0px 0;
  }

  .journey .container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .journey-content {
    padding: 80px 30px;
    border-radius: 0px;
  }

  .journey-text {
    text-align: center;
  }

  .journey-text h3 {
    font-size: 30px;
  }

  .journey-form {
    width: 100%;
  }

  .faq-sec {
    padding: 40px 0;
  }

  .world-class {
    padding: 40px 0;
  }

  .need-help {
    padding: 30px;
  }

  .faq-sec p {
    font-weight: 400;
    font-size: 14px;
  }

  .faq-sec .row {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .need-help .row {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .need-help-img {
    width: 114%;
    border-radius: 0 !important;
    margin-left: -7%;
  }

  .need-help.inner-need-help .need-help-img {
    width: 100%;
    margin: 0;
  }


  .news-sec {
    padding: 40px 0;
  }

  .news-sec .row {
    gap: 15px;
  }

  .opportunity-sec {
    padding: 30px 0;
    background: #F9FAFB;
  }

  .opportunity-sec h4 {
    font-size: 25px;
  }

  .opportunity-sec p {
    font-size: 14px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .footer-bottom-right ul {
    margin: 0;
  }

  .footer-bottom {

    padding: 15px 0;
    margin-top: 15px;
  }

  .dubai-tab-img {
    margin-bottom: 10px;
  }

  .yazan-info-card {
    flex-direction: column;
  }

  .talent-sec .journey-content {
    padding: 80px 0;
  }

  .programs-tab-holder .text-center {
    margin-bottom: 0;
  }

  .getting-visa-title h1 {
    font-weight: 600;
    font-size: 25px;
  }

  .banner .d-flex {
    flex-direction: column;
    gap: 10px;
  }

  .help-grey-box {
    margin-bottom: 40px;
  }

  .visa-aply-info h2 {
    font-size: 25px;
  }

  .visa-tab-content-holder {
    padding-bottom: 0;
  }

  .world-wide-logo-holder {

    grid-template-columns: repeat(3, 1fr);
  }

  .global-campus p {
    font-size: 18px;
  }

  .campus-info-img {
    display: none;
  }

  .campus-page.student-experience {
    margin-bottom: 40px;
  }
  .gray-bg.p-4.rounded{
    margin-bottom: 40px;
    margin-top: -40px;
  }
  .application-footer-content{
    flex-direction: column-reverse;
    gap:10px;
  }
  .application-footer{
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .footer-content-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .global-campus p {
    font-size: 16px;
  }

  .world-wide-logo-holder {

    grid-template-columns: repeat(2, 1fr);
  }

  .journey-content {
    padding: 60px 15px;
  }

  .world-wide-logo a {
    font-size: 14px;

  }

  .banner {
    padding: 40px 15px;
    border-radius: 0;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .why-us-img {
    width: 114%;

    border-radius: 0;
    margin-left: -7%;
  }

  .why-us-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.6s;
    border-radius: 0;
  }

  .modal-partner-box ul li {
    font-weight: 400;
    font-size: 12px;
    color: #475467;
    width: 100%;
    margin-left: 20px;
  }

  .need-help {
    padding: 30px;
  }

  .sec-title h2 {

    font-size: 25px;
  }

  .redirect-box a {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 25px);

    padding: 5px 10px;

    font-size: 12px;
  }

  .a.site-btn {
    font-size: 0;
    padding: 10px 10px
  }

  .post-info h6 {
    font-size: 12px;
  }

  .post-info h5 {
    font-size: 15px;
  }

  .post-featured-box h4 {

    font-size: 18px;
  }
  .post-featured-box ul {

    gap: 15px;
    margin-top: 20px;
}
}