* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    user-select: none;

}

body {
    user-select: none;
}


.page-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999999999999;
}


.loaded {
    transition: 0.4s ease-out;
    opacity: 0;
    pointer-events: none;
}

.loader {
    text-align: center;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: -webkit-linear-gradient(#97268E, #7C96C9);
}


.programs-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999999999999;

}

.faculty-loader {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 999999999999;
}

.dot-holder .dot:nth-last-child(1) {
    animation: jumpingAnimation 1.2s 0.6s linear infinite;
}

.dot-holder .dot:nth-last-child(2) {
    animation: jumpingAnimation 1.2s 0.3s linear infinite;
}

.dot-holder .dot:nth-last-child(3) {
    animation: jumpingAnimation 1.2s 0s linear infinite;
}

@keyframes jumpingAnimation {
    0% {
        transform: translate(0, 0);
    }

    16% {
        transform: translate(0, -15px);
    }

    33% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #475467;

}

#shadow-host-companion {
    display: none !important;
}

p a {
    text-decoration-line: underline !important;

    color: #8A3FFC;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.wow {
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cecece;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 10px;
    transition: 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}




.header-dropdown-holder ul::-webkit-scrollbar {
    /* width: 0; */
    height: 0;
}



.menu-btn {
    display: none;
    width: 30px;
    height: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.menu-btn span {
    position: relative;
    display: block;
    height: 2px;
    background: #101828;
    pointer-events: none;
    width: 100%;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-btn span::before {
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: -10px;
    height: 100%;
    transition: 0.2s;
    background: #101828;
    border-radius: 25px;
}

.menu-btn span::after {
    content: "";
    width: 80%;
    transition: 0.2s;
    position: absolute;
    display: block;
    right: 0;
    bottom: -10px;
    height: 100%;
    border-radius: 25px;
    background: #101828;
}




.menu-btn.open span {
    transform: rotate(-45deg);
}

.menu-btn.open span::before {
    opacity: 0;
    top: 0;
    display: block;
    width: 100%;
}

.menu-btn.open span::after {
    top: 0;
    transform: rotate(90deg);
    display: block;
    width: 100%;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #EAECF0;
}

.header-top-left a {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #475467;
    text-decoration: none !important;
    position: relative;
}

.header-top-left a:nth-child(1)::before {
    content: 'Email Us';
    display: none;
    font-size: 14px;
}

.header-top-left a:nth-child(2)::before {
    content: 'Contact Us';
    display: none;
    font-size: 14px;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-bottom-content-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    z-index: 99999;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-bottom-left nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-bottom-left ul li {
    list-style: none;
    position: relative;
}

.header-bottom-left ul li:hover .header-dropdown-holder {
    opacity: 1;
    pointer-events: all;
    top: 100%;
}


.header-dropdown-holder {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 12px;
    padding: 10px;
    border-radius: 20px 10px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;


}

.header-dropdown-holder ul {
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    gap: 20px !important;
    scroll-snap-type: y mandatory;
    max-height: 60vh;
    overflow: auto;
}

.header-dropdown-holder ul li {
    width: 100%;
    scroll-snap-align: start;
    display: block;
}


.header-dropdown-holder ul li a {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px 10px;
    transition: 0.2s;
    border-radius: 10px;
}

.header-dropdown-holder ul li a img {
    transform: inherit !important;
}

.header-dropdown-holder ul li a:hover {
    background: #f5f5f5;
}

.head-menu-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.header-dropdown-holder ul li a h5 {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
}

.header-dropdown-holder ul li a p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #475467;
}

.header-bottom-left ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #475467;
    display: flex;
    /* align-items: center; */
    gap: 5px;
}

.header-bottom-left ul li a img {
    transition: 0.4s;
}

.header-bottom-left ul li:hover a img {
    transform: rotate(180deg);
}

.header-bottom-right {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.header-bottom-right a {
    display: flex;
    gap: 5px;
    border-radius: 8px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid transparent;
}

.header-bottom-right a:first-child {
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    color: white;
}

.header-bottom-right a:last-child {
    color: #344054;
    border: 1px solid #344054;
}

.banner {
    padding: 120px 60px;
    border-radius: 12px;
    /* background-image: url('../images/banner-img.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top: -40px;
    margin-bottom: -40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contact-banner {
    padding-top: 120px;
    padding-bottom: 120px;
}

.banner::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: black;
    opacity: 0.6;
    z-index: -1;
}

.dubai-banner::before {
    opacity: 0.6;
}

.dubai-banner .banner-content p {
    max-width: 630px;
}

.banner-btn-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-btn-holder a {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.redirect-box-holder {
    margin-bottom: 40px;
}

.banner-btn-holder a:first-child {
    color: #344054;
    border: 1px solid #D0D5DD;
    background: white;
}

.banner-btn-holder a:nth-child(2) {
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: white;

}

.banner-content {
    max-width: 830px;
    width: 100%;
}

.banner-content h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
}

.banner-content h1 {
    font-weight: 600;
    font-size: 52px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
    text-transform: capitalize;
}

.banner-content p {
    margin: 20px 0;
    font-weight: 200;
    font-size: 18px;
    color: #EAECF0;
    max-width: 650px;
    width: 100%;
}

.collaboration-sec {
    padding: 40px 0;
    text-align: center;
}

.collaboration-sec h5 {
    font-weight: 500;
    font-size: 14px;
    color: #101828;
    margin-bottom: 30px;
    text-align: center;
}

.collaboration-sec a {
    font-weight: 600;
    font-size: 12px;
    text-decoration-line: underline !important;
    color: #101828;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    margin: 30px auto 0 auto;
}

.collaboration-logo-holder {
    width: 100%;
}

.collaboration-logo-holder ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}

.collaboration-logo-holder ul li {
    list-style: none;
    width: 100%;
}

.collaboration-logo-holder ul li img {
    width: 100%;
    object-fit: contain;
    transition: 0.2s;

}

.collaboration-logo-holder ul li img:hover {
    transform: scale(1.1);
}

.proposition-sec {
    padding: 80px 0;
}

.sec-title {
    width: 100%;
    margin-bottom: 40px;
}

.sec-title h5 {
    font-weight: 600;
    font-size: 16px;
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-title h2 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: #101828;

}

.sec-title p i {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: 600;
}

.sec-title p a {
    text-decoration-line: underline !important;
    font-weight: 500 !important;
    color: #7F56D9 !important;

}

.sec-title p {
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #475467 !important;
    max-width: 768px !important;
    display: inline-block !important;
}

.value-box {
    width: 100%;
    text-align: center;
}

.value-box-content p {
    display: block;
}

.value-box-content p~p {
    display: none !important;
}

.value-box p a {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline !important;

}

.value-box a {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline !important;
    font-size: 14px;
    font-weight: 600;
}

.why_ibte_modal p {
    margin: 10px 0 !important;
}

.why-sec-title {
    max-width: 900px;
    width: 100%;
}

.value-box .value-img {
    width: 48px;
    height: 48px;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    transition: 0.2s;
}

.value-box .value-img img {
    transition: 0.2s;
}

.value-box:hover .value-img img {
    transform: scale(1.1);

}

.value-box h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4em;
    text-align: center;
    color: #101828;
}

.value-box p {
    line-height: 1.4em;
    color: #5F6D7E;
    font-size: 14px;
}

.save-big {
    width: 100%;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 12px;
    padding: 40px 40px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 80px auto;
    overflow: hidden !important;
    position: relative;
}

.save-big::before {
    content: '';
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;

    top: 0;
    background-image: url('../images/save-big-bg.png');
    transition: 0.2s;
    background-repeat: no-repeat;
}

.student-page-save-big::before {
    transform: scale(2) !important;
    right: 0;
    left: 0;
    left: -40px !important;
}

.global-presence .sec-title {
    margin-bottom: 0;
}

.save-big:hover::before {
    transform: scale(1.1);
    transition: 1s;
}

.save-big h5 {
    font-weight: 500 !important;
    font-size: 28px !important;
    color: #FFFFFF !important;
    margin-bottom: 20px !important;
}

.save-big p {
    margin: 0;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #FFFFFF !important;
}

.save-big a {
    margin-left: auto;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 12px 20px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #344054;
    transition: 0.2s;
}

.save-big:hover a {
    background: #D0D5DD;
    border: 1px solid #FFFFFF;
    transition: 1s;
}

.save-big a:hover {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    transition: 0.2s;
}

.why-choosing-us {
    width: 100%;
    padding: 80px 0;
    background: #F9FAFB;
    overflow: hidden;
}


.why-us-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
}

.why-us-img img {
    width: 100%;
    max-height: 750px;
    object-fit: cover;
    transition: 0.6s;
    border-radius: 12px;
}

.why-choosing-us-2 .why-us-img img {
    max-height: 500px;
}

.why-us-desc p:last-child {
    display: none;
}

.why-us-box-img {
    width: 48px;
    height: 48px;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 28px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    transition: 0.2s;
    justify-content: center;
}

.why-us-box-img img {
    transition: 0.2s;
}

.why-us-box:hover .why-us-box-img img {
    transform: scale(1.1);
}

.why-us-box {
    display: flex;
    gap: 20px;

}

.why-us-box-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.why-us-box-content h4 {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
}

.why-us-box-content p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
}

.why-us-box-content button {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    color: #7F56D9;
}

.why-us-box-content a {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    color: #7F56D9;
    cursor: pointer;
}

.world-class {
    width: 100%;
    padding: 80px 0;
}

.world-class .sec-title {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.world-class-table {
    width: 100%;
    margin-top: 40px;
}

.world-class-table table {
    width: 100%;
    text-align: center;
}

.world-class-table table th {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: #101828;
    width: 33%;


}

.world-class-table table td {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    color: #475467;
    background-color: #F9FAFB;
    width: 33%;
    min-height: 60px;

}

.world-class-table table td span {
    font-size: 10px;
    display: block;
}

.world-class-table table tbody tr:nth-child(even) td {
    background: white;
}

.world-class-table table tbody tr td:first-child {
    text-align: left;
}

.table-icon {
    width: 15px;
}

.educational-img {
    background: transparent;
}

.programs-sec {
    overflow: hidden;
    padding: 80px 0;
}

.tabcontent {
    animation: fadeEffect 1s;
    display: none;
}

.tabcontent2 {
    animation: fadeEffect 1s;
    display: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.accreditation_tabcontent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.accreditation_tabcontent.active {
    max-height: 5000px;
}



.programs-tab-btn-holder {
    border-bottom: 1px solid #EAECF0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.programs-tab-btn-holder button {
    all: unset;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #667085;
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inner-table-btn {
    justify-content: space-between;
}

.inner-table-btn button {
    font-size: 14px;
}

.table-tab-btn .tabcontent {
    border: 2px solid #EAECF0;
    border-radius: 20px;
    overflow: hidden;
}

.table-tab-btn .tabcontent2 {
    border: 2px solid #EAECF0;
    border-radius: 20px;
    overflow: hidden;
}

.table-tab-btn table {
    width: 100%;
}

.table-tab-btn th {
    padding: 10px 15px;
    font-size: 14px;
    color: #475467;
    font-weight: 500;
    background-color: #F9FAFB;
}

.table-tab-btn td {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #475467;
    border-bottom: 2px solid #EAECF0;
}

.table-tab-btn tbody tr:last-child td {
    border: none;
}

.programs-tab-btn-holder button img {
    width: 20px;
}

.programs-tab-btn-holder button:hover {
    border-bottom: 2px solid #667085;
}

.programs-tab-btn-holder button.active {
    color: #101828;
    border-bottom: 2px solid #101828;
    ;
}

a.program-box {
    background: #F9FAFB;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    margin: 15px 0;
    transition: 0.2s;
    width: 100%;
    display: block;
    max-height: 208px;
    overflow: hidden;
}

.program-box:hover {
    box-shadow: 0 0 7px 1px #e9e9e9;
}

.program-box .p-arrow {
    position: absolute;
    right: 20px;
    top: 24px;
    transition: 0.2s;
}

.program-box .p-arrow:hover {
    filter: drop-shadow(1px 3px 7px #7f7f7f);
}

.program-icon {
    width: 45px;

    aspect-ratio: 1/1;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.program-box h5 {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.program-box p {
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #475467;
    margin: 0;
}

.program-box p p~p {
    display: none;
}

.upcomming-program-box {
    background: #F9FAFB;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    margin: 15px 0;
    transition: 0.2s;
    width: 100%;
    display: block;
    transition: 0.2s;
    display: flex;
    gap: 40px;
}


.summary_data {
    display: none;
}

.pro_name {
    display: none;
}


/* .swiper-slide .upcomming-program-box {
    margin: 0;
} */

.upcomming-program-box:hover {
    box-shadow: 0 0 7px 1px #e9e9e9;
}

.upcomming-program-text h5 {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.short-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
}

.short-desc p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    margin: 0;
}

.upcomming-program-text button {
    all: unset;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #1D2939;
}

.upcomming-program-box .program-icon {
    margin: 0;
}

.program-modal .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1rem;
}

.modal-header svg {
    margin-left: auto;
}

.program-modal .modal-header h4 {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
    margin: 0;
}

.program-modal .modal-header svg {
    cursor: pointer;
}

.program-modal .modal-body p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    margin-bottom: 4px;
}

.program-modal .modal-body ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.program-modal .modal-body ul li {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
}

.faculty-modal ul {
    margin: 0 !important;
}


a.view-programs-btn {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    padding: 10px 20px;
    background: #FFFFFF;
    /* Gray/300 */
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    text-align: center;
}

.global-presence {
    padding: 80px 0;
}

.global-presence img {
    width: 100%;
    transition: 0.1s;
}

.trusted-sec {
    padding: 80px 0;
    background: #F9FAFB;
    text-align: center;
}

.trusted-sec .trusted-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted-sec h4 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.trusted-sec p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #475467;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.trust-counter-holder {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.trust-counter-box {
    width: 100%;
    padding: 0 40px;
    border-right: 1px solid #EAECF0;
}

.trust-counter-holder .trust-counter-box:first-child {
    padding-left: 0;
}

.trust-counter-holder .trust-counter-box:last-child {
    padding-right: 0;
    border-right: none;
}

.trust-counter-box h4 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    margin: 0;
}

.trust-counter-box p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #475467;
    margin: 0;
}

.student-experience {
    padding: 80px 0;
}

.student-experience img {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    display: block;
}

.student-experience a {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    padding: 10px 20px;
    background: #FFFFFF;
    /* Gray/300 */
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    text-align: center;
}

.testi-section {
    width: 100%;
    padding: 80px 0;
    background: #F8F9FB;
}

.testi-box {
    width: 100%;
}

.testi-box .rating-img {
    width: 100px;
}

.testi-box p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.0015em;
    color: #5F6D7E;
    margin: 15px 0;
}

.testi-box p br {
    display: none;
}

.testi-box ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.testi-box ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.testi-box ul li:first-child {
    border-radius: 50%;
    border: 2px solid #42307D;
    padding: 4px;
    background: #ededed;
}

.testi-box ul li img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.testi-box ul li p {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.001em;
    color: #5F6D7E;
    margin: 0;
}

.testi-box ul li span img {
    width: 15px;
    height: auto;
    max-height: 20px;
    object-fit: contain;
    border: none;
    border-radius: 0;
}

.testi-box-holder a {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    padding: 10px 20px;
    background: #FFFFFF;
    /* Gray/300 */
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    display: block;
    width: fit-content;
    margin: 40px auto 0 auto;
    text-align: center;
}

a.site-btn {
    font-weight: 600;
    font-size: 14px;
    color: #344054 !important;
    padding: 10px 20px;
    background: #FFFFFF !important;
    border: 1px solid #D0D5DD !important;
    border-radius: 8px;
    display: inline-block;
    width: fit-content;
    text-align: center;
}

button.site-btn {
    all: unset;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: #344054 !important;
    padding: 10px 20px;
    background: #FFFFFF !important;
    border: 1px solid #D0D5DD !important;
    border-radius: 8px;
    display: inline-block;
    width: fit-content;
    text-align: center;
}

#germanContainer .col-md-4, #frenchContainer .col-md-4 {
    flex: inherit;
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
}

#germanContainer .journey-form, #frenchContainer .journey-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#germanContainer .journey-form label, #frenchContainer .journey-form label {
    margin-top: 10px;
}


.journey {
    padding: 80px 0;
}

.journey-content {
    padding: 60px;
    border-radius: 12px;
    background-image: url(../images/journey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.journey-text h3 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.journey-text p {
    font-weight: 400;
    font-size: 18px;

    color: #FFFFFF;
}

.journey-form {
    width: calc(100% - 100px);
    margin-left: auto;
    background: #F9FAFB;
    /* Shadow/md */

    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    padding: 30px;

}

.swiper-slide .journey-form {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.journey-form fieldset {
    margin-top: 10px;
}

.journey-form h5 {
    font-weight: 700;
    font-size: 18px;
    color: #101828;
    margin-bottom: 10px;
}

.journey-form h5 p {
    font-weight: 600;
    font-size: 14px;
    color: #101828;
    margin-bottom: 7px;
}

.journey-form h5 p br {
    display: none;
}

.journey-form label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #344054;
}

input[type=email], input[type=text], input[type=password] {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    outline: none;
    padding: 5px 10px;
}

input[type=email]::placeholder, input[type=text]::placeholder, input[type=password]::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #667085;
}

.agree-journey {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.agree-journey label {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    color: #667085;
    white-space: nowrap;
}

.agree-journey label a {
    font-weight: 600;
    text-decoration-line: underline !important;
    color: #667085;
}

input[type="checkbox"] {
    accent-color: #7F56D9;
}

.journey-form button {
    all: unset;
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    color: #FFFFFF;
}

.journey-form a {
    all: unset;
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    color: #FFFFFF;
}

.journey-content .row {
    position: relative;
}

.journey-content .row .journey-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: fit-content;
}

.faq-sec {
    padding: 80px 0;
    background: #F9FAFB;
}

.faq-sec h4 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.faq-sec p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #475467;
}

.faq-list-holder {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.faq-list-holder .accordion .acc-card {
    border-top: 1px solid #EAECF0;

}

.hidden-accordion {
    display: none;
}

.faq-list-holder>.accordion .accordion {
    display: none !important;
}

.faq-list-holder>.accordion .accordion:nth-child(2) {
    display: block !important;
}

.faq-list-holder>.accordion {
    display: flex !important;
    flex-direction: column-reverse;
}

.faq-list-holder.home-faq .accordion {
    flex-direction: column !important;
}

.faq-list-holder.about-faq .accordion {
    flex-direction: column !important;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card {
    display: none;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card:nth-child(1) {
    display: block;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card:nth-child(2) {
    display: block;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card:nth-child(3) {
    display: block;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card:nth-child(4) {
    display: block;
}

.faq-inner-sec .faq-list-holder .accordion .acc-card:nth-child(5) {
    display: block;
}

.modal-body.accordion .acc-card {
    display: block;
}

.acc-card a {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none !important;
    color: #101828;
    display: block;
    padding: 15px 0;
}

.acc-card-body {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #475467;

}

.acc-card-body p {
    margin-bottom: 20px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #475467 !important;
    text-align: left !important;
}

.acc-card-body p br {
    display: none;
}

.acc-card-body ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}

.acc-card-header a {
    padding-right: 70px;
}

.acc-card>div {
    position: relative;
}

.acc-card a img {
    position: absolute;
    right: 0;
    top: 16px;
}

.acc-card.open .acc-minus {
    display: block;
}

.acc-card.open .acc-plus {
    display: none;
}

.acc-card.open .collapse {
    display: block !important;
}

.acc-minus {
    display: none;
    animation: fadeEffect 0.2s;
}

.acc-plus {
    display: block;
    animation: fadeEffect 0.2s;
}

.acc-plus {
    animation: fadeEffect 0.2s;
}

a.collapsed .acc-plus {
    display: none;
}

a.collapsed .acc-minus {
    display: block;
}


a.active .acc-plus {
    display: none;
}

a.active .acc-minus {
    display: block;
}

.homefaq .collapsed .acc-minus {
    display: none !important;
}

.homefaq .collapsed .acc-plus {
    display: block !important;
}

.homefaq .acc-plus {
    display: none !important;
}

.homefaq .acc-minus {
    display: block !important;
}



.about-faq .collapsed .acc-minus {
    display: none !important;
}

.about-faq .collapsed .acc-plus {
    display: block !important;
}

.about-faq .acc-plus {
    display: none !important;
}

.about-faq .acc-minus {
    display: block !important;
}

/* // */
.home-faq .collapsed .acc-minus {
    display: none !important;
}

.home-faq .collapsed .acc-plus {
    display: block !important;
}

.home-faq .acc-plus {
    display: none !important;
}

.home-faq .acc-minus {
    display: block !important;
}

.need-help-top-text {
    text-align: center;
    margin-bottom: 40px;
}

.need-help-top-text h5 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #101828;
}

.need-help {
    /* margin-top: 80px !important; */
    display: blo;
    padding: 40px 40px;
    margin: 0 auto;
    position: relative;
    background: #FFFFFF;
    border-radius: 12px;
}

.faq-list-holder~.text-center {
    margin-bottom: 80px;
}

.need-help .sec-title p {
    text-align: left;
}

.help-contact-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.help-contact-box img {
    width: 40px;
}

.pin-img {
    border-radius: 50px;

    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    justify-content: center !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;

}

.pin-img img {
    filter: invert(1);
    width: 20px;
}

.invert img {
    filter: invert(1) !important;
}

.terms_privacy_content> {
    margin: 0;
}

.terms_privacy_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terms_privacy_content h2, .terms_privacy_content h3, .terms_privacy_content h4, .terms_privacy_content h5, .terms_privacy_content h6 {
    background: linear-gradient(224.83deg, #97268E -1.78%, #b366ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.help-contact-box p {
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #475467;
}

.help-contact-box span {
    font-weight: 500;
    font-size: 16px;
    color: #101828;
}
.footer-center ul{
margin: 0;
padding: 0;
display: flex;
align-items: center;
gap: 10px;
}
.footer-center ul li{
    list-style: none;
}
.footer-center ul li a {
    font-size: 12px;
}


.help-contact-box span a {
    /* text-decoration-line: underline !important; */
    color: #101828 !important;
    font-weight: 700;
}

.help-contact-list-holder {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.need-help-img {
    width: 100%;
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
}

.news-sec {
    padding: 80px 0;
    background: white;
}

a.news-archive-box {
    width: 100%;
    display: block;
    transition: 0.2s;

}

.news-archive-box img {
    width: 100%;
    aspect-ratio: 1/0.6;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.5s;
}

a.news-archive-box:hover {
    transform: translateY(-10px);
}

.news-archive-box span {
    background: linear-gradient(224.83deg, #97268E -1.78%, #7C96C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.news-archive-box h5 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    color: #101828;
}

.news-archive-box p {
    font-weight: 400;
    font-size: 13px;
    color: #475467;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-archive-box p p {
    display: none;
}

.news-archive-box p img {
    display: none;
}

.news-archive-box p p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.news-archive-box h6 {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #475467;
}

.opportunity-sec {
    padding: 40px 0;
    background: #F9FAFB;
}

.opportunity-sec.inner {
    max-width: 990px;
    margin: 0 auto;
}

.opportunity-sec.inner h4 {
    font-size: 25px;
    padding: 0 60px;
}

.opportunity-sec.inner p {
    font-size: 16px;
    margin-bottom: 10px;
}

.opportunity-sec.inner form {
    max-width: 400px;
    margin: 0 auto;
}

.student-path-desc p br {
    display: none;
}

.student-path-desc p {
    color: #475467 !important;
}


.opportunity-sec h4 {
    font-weight: 600;
    font-size: 30px;
    color: #101828;
}

.opportunity-sec p {
    font-weight: 400;
    font-size: 18px;
    color: #475467;
    margin: 0;
}

.opportunity-sec form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.opportunity-sec button {
    all: unset;
    cursor: pointer;
    background: #7F56D9;

    border: 1px solid #7F56D9;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
    color: #FFFFFF;

}

.footer {
    padding: 60px 0 30px 0;
}

.footer-content-holder {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.footer-content-box {
    width: fit-content;
}

.footer-content-box img {
    width: 100px;
    margin-bottom: 20px;
}

.footer-content-box p {
    font-weight: 400;
    font-size: 16px;

    color: #475467;
    max-width: 300px;
    width: 100%;
}

.footer-content-box h6 {
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #667085;
    margin-bottom: 20px;
}

.footer-content-box h6 a {
    color: #667085;
    transition: 0.2s;
}

.footer-content-box ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content-box ul li {
    list-style: none;
}

.footer-content-box ul li a {
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s;
    color: #475467;
}

.footer-content-box ul li a:hover {
    color: #040404;
}

.footer-content-box h6 a:hover {
    color: #040404;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #EAECF0;
    position: relative;
}

.footer-bottom-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-bottom-right ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-bottom-right ul li {
    list-style: none;
}

.footer-bottom-right ul li a img {
    width: 20px;
}



.breadcrum-holder {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #EAECF0;
}

.breadcrum-holder ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.breadcrum-holder ul li {
    list-style: none;

}

.breadcrum-holder ul li a {
    font-weight: 500;
    font-size: 15px;
    color: #475467;
    position: relative;
}



.breadcrum-holder ul li a::after {
    position: absolute;
    right: -30px;
    top: 3px;
    width: 12px;
    height: 12px;
    content: '';
    background-image: url('../images/breadcrumb-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.breadcrum-holder ul li:last-child a::after {
    display: none;
}

.breadcrum-holder ul li:last-child a {
    max-width: 350px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .partner-modal .modal-body {
   
} */
.modal-body {
    max-height: 80vh;
    overflow: auto;
}

#faq-modal .modal-body::-webkit-scrollbar {
    /* width: 0; */
    height: 0;
}

.modal-partner-box {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDE1E6;
}

.modal-partner-box h4 {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #101828;
    margin-bottom: 20px;
}

.modal-partner-box h4 img {
    width: 20px;
}

.modal-partner-box ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 20px;

}

.modal-partner-box ul li {
    font-weight: 400;
    font-size: 16px;
    color: #475467;
    width: 100%;
    margin-left: 20px;
}

.header-dropdown-holder {
    min-width: 350px;
}

.about-tabs-sec {
    width: 100%;
    background-color: #F9FAFB;
    padding: 40px 0;
}

.about-tabs-sec .programs-tab-holder {
    background: white;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 12px;
}

.about-tabs-sec .programs-tab-btn-holder button {
    padding: 15px 20px;
}

.about-tab-content {
    padding: 0px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* current program */
#currentProgramsContainer .col-md-4 {
    display: none;
}

#currentProgramsContainer .col-md-4:nth-child(1) {
    display: block;
}

#currentProgramsContainer .col-md-4:nth-child(2) {
    display: block;
}

#currentProgramsContainer .col-md-4:nth-child(3) {
    display: block;
}

#currentProgramsContainer .col-md-4:nth-child(4) {
    display: block;
}

#currentProgramsContainer .col-md-4:nth-child(5) {
    display: block;
}

#currentProgramsContainer .col-md-4:nth-child(6) {
    display: block;
}

/* other program */
#otherContainer .col-md-4 {
    display: none;
}

#otherContainer .col-md-4:nth-child(1) {
    display: block;
}

#otherContainer .col-md-4:nth-child(2) {
    display: block;
}

#otherContainer .col-md-4:nth-child(3) {
    display: block;
}

#otherContainer .col-md-4:nth-child(4) {
    display: block;
}

#otherContainer .col-md-4:nth-child(5) {
    display: block;
}

#otherContainer .col-md-4:nth-child(6) {
    display: block;
}

/* upcomming program */
#upcomingContainer .col-md-4 {
    display: none;
}

#upcomingContainer .col-md-4:nth-child(1) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(2) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(3) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(4) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(5) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(6) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(7) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(8) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(9) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(10) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(11) {
    display: block;
}

#upcomingContainer .col-md-4:nth-child(12) {
    display: block;
}

.programs-tab-inner .col-md-4 {
    display: block !important;
}


.about-tab-content p {
    font-weight: 400;
    font-size: 16px;
    color: #475467;
}

.shaded-text {
    font-weight: 500;
    font-size: 14px;
    color: #475467;
    background: #F9FAFB;
    padding: 15px;

    border: 1px solid #F2F4F7;
    border-radius: 8px;
}

.shaded-text p {
    margin: 0;
}

.dubai-tab-img {
    width: 100%;
}

.dubai-tab-img img {
    width: 100%;
    aspect-ratio: 1/0.6;
    border-radius: 12px;
    object-fit: cover;
}

.about-tab-content .faq-list-holder {
    width: 100%;
    max-width: 100%;

}

.about-tab-content .faq-list-holder .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-tab-content .faq-list-holder .acc-card {
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 12px;
    padding: 0px 20px;
}

.yazan-info-card {
    background: #F9FAFB;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5px;
}

.yazan-info-text p {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #1D2939;
}

.yazan-info-text h5 {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
}

.yazan-info-text span {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    font-weight: 500;
    font-size: 16px;
    -webkit-text-fill-color: transparent;
}

.yazan-info-text {
    padding: 30px 40px;
}

.yazan-info-img {
    width: 100%;
    height: 100%;
}

.yazan-info-img img {
    height: 100%;
    max-height: 400px;
}

button.design-site-btn {
    all: unset;
    display: inline-block;
    width: fit-content;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

    color: #FFFFFF;
}

a.design-site-btn {
    display: inline-block;
    width: fit-content;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.talent-sec .journey-content {
    padding: 120px 0;
    background-image: url('../images/talent-bg.jpg');
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.talent-sec .journey-content::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.5;
}

.inner-need-help {
    background-color: #F9FAFB;
}

.why-choosing-us.inner {
    background-color: white;
}

.essential-tips .value-box {
    text-align: left;
}

.essential-tips .value-img {
    margin-left: 0;
}

.faculty-card {
    width: 100%;
}

.faculty-card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 12px;
}

.faculty-card h4 {
    font-weight: 700;
    font-size: 20px;
    color: #101828;
    /* margin-top: 20px; */
}

.col-md-3.faculty-card h4 {
    margin-top: 20px;
}

.faculty-card h6 {
    font-weight: 400;
    font-size: 16px;
    color: #475467;
}

.faculty-card p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: capitalize;
    margin-bottom: 5px;

}

.faculty-card p:last-child {
    margin-bottom: 0;
}

.faculty-card p~p {
    display: none;
}

.faculty-modal .faculty-card p~p {
    display: block;
}

.faculty-modal .faculty-card p {
    display: block;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
    overflow: visible;
    text-transform: capitalize;
}

.faculty-card ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.faculty-card ul li {
    list-style: none;
}

.faculty-card ul li a img {
    width: 15px;
    border: none !important;
    border-radius: 0 !important;
    height: auto;
}

.faculty-card a {
    color: #7F56D9;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline !important;
    text-decoration: underline !important;

}



.team-card-holder .row .row {
    margin-left: 0;
    margin-right: 0;
}



.faculty-parahs {

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.world-wide-sec {
    width: 100%;
    overflow: hidden;
}

.about-faq {
    max-width: 100%;
}

.about-faq .accordion .acc-card {
    border: 1px solid #EAECF0;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 7px;
}

.dubai-nav-holder {
    width: 100%;
    padding-top: 20px;
    position: sticky;
    top: 20px;
    border-top: 1px solid #EAECF0;
}

.dubai-nav-holder ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 20px;
}

.dubai-nav-holder ul li {
    list-style: none;
}

.dubai-nav-holder ul li a {
    font-weight: 600;
    font-size: 16px;
    color: #475467;
}

.dubai-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dubai-sec p {
    margin: 0;
}

.dubai-sec img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    border-radius: 12px;
}

.dubai-sec .row img {
    aspect-ratio: 3/1.7;
}

.dubai-info-intro-box {
    background: #F9FAFB;
    border-radius: 16px;
    padding: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #101828;
}

.dubai-sec h4 {
    font-weight: 600;
    font-size: 22px;
    color: #101828;
    margin: 0;
}

.dubai-sec .save-big {
    background-position: center !important;
    background-repeat: no-repeat;
    margin: 0;
}

.dubai-sec .save-big::before {
    margin: 0 auto;
    left: 0;
    right: 0;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.make-center.save-big::before {
    margin: 0 auto;
    left: 0;
    right: 0;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: contain;
}


.redirect-box {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    overflow: hidden;
    z-index: 1;
    border-radius: 12px;
}

.redirect-box::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    z-index: 9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.redirect-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.redirect-box:hover img {
    transform: scale(1.1);
    transition: 2s;
}

.redirect-box a {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    left: 0;
    z-index: 9999999;
    right: 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.redirect-box a img {
    width: 25px;
}

.calender-box {
    width: 100%;
}

.calender-box h4 {
    font-weight: 600;
    font-size: 22px;
    color: #1D2939;
    margin-bottom: 20px;
}

.calender-box table {
    border: 1px solid #EAECF0;
    border-radius: 12px;
    width: 100%;
}

.calender-box table tr th {
    background: #F9FAFB;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #475467;
    padding: 10px 10px;
    border-bottom: 1px solid #EAECF0;
    height: 60px !important;

}

.calender-box table tr th div {
    line-height: 0;
}


.calender-box table tr td {
    padding: 10px 10px;
    border-bottom: 1px solid #EAECF0;
    font-weight: 400;
    font-size: 12px;
    color: #475467;

}

.calender-page.save-big {
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 12px;
    text-align: center;
    margin-top: 45px;
    padding: 90px 30px;
    margin: 45px 0 0 0;
}

.calender-page.save-big::before {
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    left: 0;
    bottom: 0 !important;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/circle-lines.svg') !important;
}

.calender-page {
    width: 100%;
}

.calender-page ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.calender-page ul li {
    font-weight: 400;
    font-size: 14px;
    color: #8D8D8D;
    text-align: left;
    /* max-width: 400px; */
    /* margin: 0 auto; */
}

.calender-page.save-big ul li {
    color: white;
}

.square-img {
    width: 100%;
    aspect-ratio: 1/0.8;
}

#loaeder {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.campus-slide {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.cus-pagination .swiper-pagination-bullet-active {
    background: linear-gradient(224.83deg, #97268E -1.78%, #7C96C9 100%) !important;
    transform: none !important;
}

.cus-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    transform: none !important;
}

.world-wide-logo-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 80px;
}

.world-wide-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.world-wide-logo p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0;

    text-align: center;

    color: #475467;
}

.world-wide-logo p img {
    width: 20px;
}

.world-wide-logo a {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #475467;

}

.campus-img-slide {
    width: 140%;
    margin-top: 40px;
    padding-right: 40% !important;
}

.campus-img-slide img {
    width: 100%;
    aspect-ratio: 1/0.8;
}

.campus-img-slide-btn-holder {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 12px;
}

.programs-descs {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 65px;
    /* background: antiquewhite; */
}

.campus-img-slide-btn-holder img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.campus-img-slide-btn-holder img:hover {

    filter: drop-shadow(1px 3px 6px #ebebeb);
}

.global-campus {
    padding: 40px 0;
    text-align: center;
    background: #F9FAFB;
}

.global-campus p {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    text-align: center;

    /* Gray/900 */

    color: #101828;

}

.campus-info-img {
    width: 140%;
    height: fit-content;
    position: sticky;
    top: 20px;
    border-radius: 12px;
    border: 4px solid #101828;
    overflow: hidden;

}

.campus-info-img img {
    width: 100%;
}



.campus-info-box {
    position: relative;
    width: 100%;
    padding: 10px 0;
    max-height: 535px;
    overflow: auto;
    direction: rtl;
    padding-left: 20px;
}

.campus-info-box::-webkit-scrollbar {
    width: 4px;
    height: 100%;
    background-color: #f2f2f2;
}

.campus-info-box::-webkit-scrollbar-thumb {
    background-color: #7F56D9;
}


.campus-info-box h5 {
    font-weight: 600;
    font-size: 18px;
    color: #101828;
    direction: ltr;
}

.campus-info-box p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    margin: 0;
    direction: ltr;
}

/* .online-campus-sec .row .col-md-6 .campus-info-box:first-child::before{
position: absolute;
height: 100%;
width: 4px;
background: #7F56D9
;
content: '';
left: -19px;
top: 0;
} */
.campus-page.student-experience {
    background: #F9FAFB;
    margin-bottom: 80px;
}

.online-campus-sec {
    padding: 80px 0;
    overflow: hidden;

}

.accreditation-tab-sec {
    width: 100%;
    padding: 40px 0;
    background: #F9FAFB;
}

.accreditation-tab-sec .programs-tab-holder {
    background: white;
    border: 1px solid #EAECF0;
    border-radius: 12px;
}

.bg-white {
    background: white;
    border: 1px solid #EAECF0;
    border-radius: 12px;
}

.accreditation-tab-content-holder {
    padding: 0 20px 20px 20px;
}

.accreditation-tab-content-holder img {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1/0.6;
    object-fit: cover;
}

.accreditation-tab-content-holder ol li, .accreditation-tab-content-holder ul li {
    margin-left: 16px;
}

.various-program-info {
    margin-top: 10px;
}

.various-program-info p {
    font-weight: 400;
    font-size: 14px;
    color: #475467;
    margin: 0;
    margin: 5px 0;
}

.party-recognization {
    background: #FBF9FF;
    border-radius: 8px;
    padding: 20px;
}

.recognization-img {
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    border-radius: 28px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.party-recognization h4 {
    font-weight: 700;
    font-size: 18px;
    color: #20282C;

}

.party-recognization p {
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 0;
    color: #475467;
}

.party-recognization-sec {
    padding-top: 80px;
    padding-bottom: 80px;
}

.qualification-info-box {
    width: 100%;
    padding: 30px;
    background: #F9FAFB;
    border-radius: 12px;
}

.partner-logo {
    margin-left: auto;
    display: block;
    max-width: 150px;
    width: 100%;
}

.partner-content-box {
    /* width: calc(100% - 80px); */
    position: relative;
    padding: 0 60px !important;
}

.partner-slide-left, .partner-slide-right {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
}

.partner-slide-left {
    left: 0;
}

.programs-navigator a.active {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
}

.dubai-nav-holder a.active {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
}

.partner-slide-right {
    right: 0;
}

.partner-slide-left img, .partner-slide-right img {
    width: 100%;
    height: 100%;
}

.network-partnership ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    columns: 10px;
    margin: 30px 0;
    padding: 0;
}

.network-partnership ul li {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #101828;
}

.network-partnership ul li img {
    width: 20px;
}

.applicable-info {
    font-weight: 400;
    font-size: 12px;
    color: #8D8D8D;
}

.help-grey-box {
    background: #F9FAFB;
    border-radius: 12px;
    padding: 15px;
    display: inline-block;
    width: fit-content;
}

.calender-table-holder th, .calender-table-holder td {
    width: 33%;
    vertical-align: top;
}

.getting-visa-title {
    text-align: center;
    padding: 0 30px;
}

.getting-visa-title ol {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.getting-visa-title h1 {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.getting-visa-title h1 img {
    width: 40px;
}

.visa-tab-content-holder {
    padding: 0 20px 20px 20px;
}

.getting-visa-title p {
    font-weight: 400;
    font-size: 18px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    color: #475467;
    margin: 0 auto;
}

.visa-aply-info {
    text-align: center;
}

.visa-aply-info h2 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #101828;
}

.apply-info-box h4 {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.apply-info-box ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apply-info-box li {
    font-weight: 400;
    font-size: 18px;
    color: #475467;
    margin-left: 14px;
}

.apply-info-box li ul {
    margin-left: 12px;
    list-style-type: disc;
}

.apply-info-box a {
    color: #8A3FFC;
    text-decoration-line: underline !important;
}

.apply-info-box p {
    font-weight: 400;
    font-size: 18px;
    color: #475467;
}

.apply-info-box p br {
    display: none;
}

.apply-info-box p strong {
    color: #101828;
    font-weight: 500;
}

.programs-navigator {
    position: sticky;
    top: 20px;
}

.benefit-text p {
    display: none;
    font-size: 14px;
}

.benefit-text p:first-child {
    display: block;
}

.programs-navigator h5 {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
}

.programs-navigator ul {
    margin: 0;
    padding: 0;
}

.programs-navigator ul li {
    list-style: none;
    color: #475467;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}

.programs-navigator ul li ul li {
    list-style: none !important;
}

.programs-navigator ul li a {
    position: relative;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}

.programs-navigator ul li a::before {
    width: 20px;
    height: 20px;
    background-image: url('../images/curved-arrow.svg');
    background-position: center;
    background-size: cover;
    content: '';
    /* position: absolute; */
    left: 10px;
    display: inline-block;
    top: -2px;
}

.program-detail-holder p {
    color: #475467;
    font-size: 16px;
    line-height: 28px;
}

.program-detail-holder p br {
    display: none;
}

.program-detail-holder h4 {
    color: #101828;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 5px;

}

.program-detail-holder h3 {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dee2e6;
}

.program-detail-holder h3 strong {
    font-weight: 600;
}

.program-detail-holder h5 {
    color: #101828;
    font-size: 18px;
    font-weight: 500;
}

.program-detail-holder h5 strong {

    font-weight: 500;
}

.program-detail-holder ul {
    margin-left: 16px;
    margin-bottom: 20px;
}

.program-detail-holder ul li {
    color: #1D2939;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    position: relative;

}

.program-outcome ul {
    margin: 0;
}

.program-outcome ul li {
    list-style: none;
    padding-left: 30px;

}

.program-outcome ul li:last-child {
    margin: 0;
}

.program-outcome ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url('../images/graduation.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.program-detail-holder ul li ul {
    margin-left: 12px;
}

.program-detail-holder ul li ul li {
    list-style-type: disc;
}

.program-detail-holder ul li ul li a br~ {
    font-size: 10px;
}

.program-detail-holder ol {
    margin-left: 16px;
    margin-bottom: 20px;
}



#programDetails {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #dee2e6;
}

#programDetails h2 {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.program-detail-holder ol li {
    color: #1D2939;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}

.program-detail-holder ol li ul {
    margin-left: 12px;
}

.program-detail-holder ol li ol li {
    list-style-type: decimal;
}

.program-detail-holder ol li ul li {
    list-style-type: disc;
}

.program-outcome {
    background-color: #F9FAFB;
    border-radius: 12px;
    padding: 30px;
}

.program-outcome h4 {
    color: #101828;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.program-outcome div.d-flex {
    margin: 12px 0;
}

.program-outcome div.d-flex {
    gap: 10px;
}

.quick-links-sec {
    padding-top: 40px;
}

.student-life-box img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 2/1.5 !important;
    height: auto !important;
    object-fit: cover;
}

.student-life-box h4 {
    color: #101828;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.student-life-box p {
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px
}

.student-life-box a {
    border-radius: 16px;
    background-color: #F2F4F7;
    mix-blend-mode: multiply;
    background: #F2F4F7;
    padding: 2px 10px;
    border-radius: 16px;
    display: inline-block;
}

.student-life-box a span {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.student-life-box-secs .calender-page.save-big {
    margin: 0;
    padding: 40px 15px;
}

.program-outcome p {
    color: #1D2939;
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;

}

.quick-links-sec h5 {
    font-size: 16px;
    font-weight: 600;

}

a.quick-link-card {
    width: 100%;
    position: relative;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #EAECF0;
    background: white;
    transition: 0.3s ease-in-out;
    height: 100%;
    display: block;
}

a.quick-link-card:hover {
    border: 1px solid #5824CB;
}

a.quick-link-card p {
    margin: 0;
    font-size: 14px;
    color: #475467 !important;
}

a.quick-link-card button {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 15px;
    background: #F2F4F7;
    padding: 2px 10px;
    border-radius: 16px;
    display: block;
}

a.quick-link-card button span {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

a.quick-link-card a.highlighted {
    border-radius: 16px;
    background: linear-gradient(223deg, #97268E 0%, #7C96C9 100%)
}

a.quick-link-card a.highlighted span {
    all: unset;
    background: none;
    display: block !important;
    color: white !important;
    font-size: 12px;
}

.gray-bg {
    background: #F9FAFB;
}

.benefit-box {
    width: 100%;
}

.benefit-box img {
    width: 100%;
    aspect-ratio: 1/0.6;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 20px;
    object-fit: cover;
}

.benefit-box h3 {
    color: #101828;
    font-size: 22px;
    font-weight: 600;
}

.benefit-box a {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.value-box.text-left .value-img {
    margin-left: 0;
}

.light-text {
    color: #475467;
    font-size: 14px;
}

.page-options-btn {
    position: fixed;
    z-index: 999999999;
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    border-radius: 50%;
    padding: 10px;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.page-options-btn img {
    filter: invert(1);
    width: 100%;
}

.page-options-btn::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    opacity: 0.8;
    transform: scale(1);
    top: 0;
    right: 0;
    animation-name: animate_option;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animate_option {
    from {
        transform: scale(1);
        opacity: 0.8;

    }

    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.page-options-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.378);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 95px;
    z-index: 999999;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

.page-options-content.open {
    opacity: 1;
    pointer-events: all;

}

.page-options-content ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.page-options-content ul li {
    list-style: none;
}

.page-options-content ul li a {
    border-radius: 50px;
    padding: 5px 20px;
    color: black;
    background: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.option_close_icon {
    display: none;
}

.open .option_open_icon {
    display: none;
}

.open .option_close_icon {
    display: block;
}


.light-text p {
    color: #475467;
    font-size: 14px;
}

.path-title {
    line-height: 1.2em;
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    padding-left: 15px;
    position: relative;
    margin-bottom: 20px;
}

.path-title::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 4px;
    background: linear-gradient(45deg, #97268E 0%, #7C96C9 100%);
}

.contact-form {
    width: 100%;
    position: sticky;
    top: 20px;
}

.contact-form label {
    margin: 0;
    color: #344054;
    font-size: 14px;
    font-weight: 500;
}

.contact-form label i {
    font-size: 12px;
    font-weight: 500;
    color: #5824CB;
}

.country-code {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
}

.country-code select {
    width: fit-content;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 6.3px;
    padding-bottom: 6.3px;
    border-radius: 0;
    border: none;
    background: #FFF;
    box-shadow: none;
    border-radius: 8px;
}

.country-code input {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    border: none !important;
    background: #FFF !important;
    box-shadow: none !important;
    border-radius: 8px !important;
}

.location-ping {
    margin-top: 40px;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #7F56D9;
    background: #7F56D9;
    padding: 5px 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}

.location-ping a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}

.location-ping a img {
    width: 25px;
}

.contact-form input[type=text], input[type=email], input[type=date], input[type=datetime-local], select, textarea {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
    padding: 5px 10px;
}

.contact-form textarea {
    min-height: 90px;
}

.contact-form ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    max-width: 400px;
    margin-top: 10px;
}

.contact-form ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-form button {
    all: unset;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--primary-600, #7F56D9);
    background: var(--primary-600, #7F56D9);
    width: 100%;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.contact-form input[type=checkbox] {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #D0D5DD;
    background: #FFF;
}

a.news-box {
    color: inherit !important;
    width: 100%;
}

.news-box img {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1/0.4;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

.news-box h6 {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;

}

.news-box h4 {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    padding-right: 60px;
}

.news-box h4::after {
    position: absolute;
    right: 0;
    content: '';

    top: -5px;
    width: 30px;
    height: 30px;
    background-image: url('../images/Icon-wrap.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* .reversed{
    flex-direction: row-reverse;
} */

.news-box p {
    color: #475467;
    font-size: 16px;
    line-height: 24px;
}

.news-box p p {
    display: none;
}

.news-box p img {
    display: none;
}

.news-box p p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-tag-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-tag-holder span {
    border-radius: 16px;
    background: #F2F4F7;
    color: #344054;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 3px 12px;
}

.news-feature-img {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1/0.4;
    object-fit: cover;
}

#news-summary img {
    width: 100%;
    border-radius: 10px;
}

.news-tags {
    display: flex;
    gap: 10px;
}

#inner-tag {
    display: flex;
    gap: 10px;
}

#copy-link:active {
    background-color: rgb(244, 244, 244) !important;
}

#copy-link:focus {
    background-color: rgb(244, 244, 244) !important;
}

#news-container .col-md-6:first-child {
    flex: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
}

.post-time {
    color: #344054;
    font-size: 14px;
    font-weight: 700;
    border-radius: 16px;
    background: #F9FAFB;
    padding: 4px 10px;
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#copy-link {
    transition: 0.2s;
}

#copy-link:hover {
    filter: invert(1);
}

.post-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-info .d-flex {
    column-gap: 40px;
}

.post-info h6 {
    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.post-info h5 {
    color: #101828;
    font-size: 16px;
    font-weight: 500;
}

.post-social-icon {
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF !important;
    border: 1px solid #D0D5DD !important;
}

.post-featured-box {
    padding-left: 20px;
    border-left: 2px solid #97268E;
    margin: 40px 0;
}

.post-featured-box h4 {
    color: #101828;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}

.post-featured-box ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.post-featured-box ul li {
    list-style: none;
}

.post-featured-box ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.post-social-icon i {
    font-size: 20px;
}



.post-featured-box ul li:first-child a:hover i {
    color: #3b5998;
}

.post-featured-box ul li:nth-child(2) a:hover i {
    color: #55acee;
}

.post-featured-box ul li:nth-child(3) a:hover i {
    color: #0077b5;
}



.post-featured-box ul li h5 {
    margin: 0;
    color: #101828;
    font-size: 16px;
    font-weight: 600;
}

.post-featured-box ul li p {
    margin: 0;
    color: #475467;
    font-size: 16px;
}

.think-box {

    border-top: 3px solid #7F56D9;
}

.think-box a {
    border-radius: 8px;
    background: linear-gradient(223deg, #97268E 0%, #7C96C9 100%);

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}


.think-box h5 {
    color: #101828;
    font-size: 20px;
    font-weight: 600;
}

.think-box p {
    margin-bottom: 20px;
    color: #475467;
    font-size: 16px;
}

.latest-post {
    overflow: hidden;
    padding: 80px 0;
    background-color: #F9FAFB;

}

.apply-step .modal-content {
    border-radius: 12px;
}

.apply-step .modal-header {
    border: 0;
}


.apply-step .modal-body {
    padding-top: 0;
}

.apply-step form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.apply-step form label {
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.apply-step form input[type=password], .apply-step form input[type=email] {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    outline: none;
    padding: 7px 10px;
}

.apply-step form .d-flex {
    gap: 5px;
}

.apply-step form .d-flex label {
    margin-left: 2px;
    color: #667085;
    font-size: 14px;
    margin: 0;
}

.apply-step form .d-flex label a {
    color: #1B0A40;
    text-decoration: underline !important;
}

.apply-step form .d-flex input:checked~label {
    color: #1B0A40;
}

.application-details p {
    color: #475467;
    font-size: 14px;
}

.application-details ul li {
    color: #475467;
    font-size: 14px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.application-details p b {
    color: #101828;
}

.application-details ul {
    margin-bottom: 5px;
}

.application-details li {
    margin-left: 14px;
}

.application-header {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.application-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.application-content ul {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.application-content ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.application-content ul li p {
    margin: 0;
    color: #101828;
    font-size: 16px;
    font-weight: 500;
}

.view-document {
    color: #5824CB;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px dashed #5824CB;
}

.application-content h4 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
}

.application-content button {
    max-width: 320px;
    width: 100%;
    margin-bottom: 10px;
}

.application-footer {
    all: unset;
    width: 100%;
    display: block;
    margin-top: 80px;
    padding: 20px 0;
}

.application-footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.application-footer-content p {
    margin: 0;
    color: #475467;

    font-size: 14px;
}

.application-footer-content a {
    margin: 0;
    color: #475467;

    font-size: 14px;
}

.hidden-column {
    display: none;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    opacity: 0;
    max-height: 0;
}

.visible-column {
    opacity: 1;
    max-height: 1000px;
    /* Adjust the value as needed */
}

.program-box-slide1, .program-box-slide2, .program-box-slide3 {
    padding: relative;
    padding-bottom: 50px !important;
    width: 140%;
    padding-right: 40% !important;
}

.program-img-slide-btn-holder {
    position: absolute;
    bottom: 0;
    left: -30%;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.map {
    width: 100% !important;
    aspect-ratio: 1/1;
    margin-top: 20px;
    border-radius: 10px;
}

.pathway-left {
    padding: 10px;
    background-color: #fcfcfe;
    border: 1px solid #eceff1;
    border-radius: 10px;
}

.pathway-left-top {
    text-align: center;
    padding: 10px;
    background-color: #fcfcfe;
    border: 1px solid #eceff1;
    border-radius: 10px;
}

.pathway-left-top p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}

.path-card {
    padding: 10px 10px 40px 10px;
    background-color: #fcfcfe;
    border: 1px solid #eceff1;
    border-radius: 10px;
    min-height: 320px;
    max-height: 100%;
    position: relative;
}

.path-card span {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: 800;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    margin-bottom: 10px;
}

.path-card h4 {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 5px;
}

.path-card h5 {
    font-size: 11px;
    font-weight: 500;
    color: #667085;
    margin-bottom: 20px;

}

.path-card ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
}

.path-card ul li {
    list-style: none;
}

.path-card ul li p {
    margin: 0;
    font-size: 11px;

    font-weight: 800;
}

.path-card ul li:nth-child(1) p {
    font-weight: 900;
}

.path-card ul li:nth-child(2) p {
    font-weight: 900;

}

.path-card ul li:nth-child(even) p {
    text-align: right;
}

.path-card h6 {
    font-size: 10px;
    font-weight: 800;
    margin: 20px 0 0 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

h3.path-tooltip {
    margin-top: 10px;
}

#dynamicBenefit p {
    margin-bottom: 12px;
}

#dynamicBenefit p:last-child {
    margin: 0;
}

#dynamicBenefit br {
    margin-bottom: 12px;
    display: block;
    content: '';
}

.map-info p {
    margin-bottom: 12px;
}

.map-info p {
    margin-bottom: 12px;
    display: block;
    content: '';
}

.path-tooltip {

    background: -webkit-linear-gradient(#97268E, #7C96C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.path-toolti b {
    border-bottom: 1px solid #7F56D9 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.pathway-summary {
    padding: 10px;
    background-color: #fcfcfe;
    border: 1px solid #eceff1;
    border-radius: 10px;
}

.pathway-summary p {
    margin: 0;
    font-size: 12px;
    color: #667085;
    font-style: italic;
}

.path-card h3 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #667085;
    font-weight: 800;
}

.path-card h3.text-center {
    color: #20282C;
}

.path-logo {
    width: 120px;
    height: 40px;
    object-fit: contain;
    margin: 0 auto 10px auto;
    display: block;
}

.path-card p {
    font-size: 10px;
    color: #667085;
    font-weight: 800;
}

.path-card-bottom {
    margin-top: 10px;
    text-align: center;
}

.path-card-bottom img {
    width: 40%;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.path-card-bottom h4 {
    margin: 0 0 10px 0;
    font-size: 10px;
    font-weight: 800;
    color: #667085;
}

.path-spacer {
    padding: 30px 0;
}

.full-col {
    margin: 0 !important;
}

.full-col .col-md-4 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100%;
    margin: 15px 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#testimonialsContainer2 .col-md-4 {
    display: none !important;
}

#testimonialsContainer2 .col-md-4:nth-child(1) {
    display: block !important;
}

#testimonialsContainer2 .col-md-4:nth-child(2) {
    display: block !important;
}

#testimonialsContainer2 .col-md-4:nth-child(3) {
    display: block !important;
}

.details br {
    display: none;
}

.option-box {
    padding: 16px;
    border-radius: 8px;
    background: #F9FAFB;
}

.option-img-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.option-img-holder img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 2/1.2;
}

.option-box h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    color: #101828;
}

.option-box h6 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #475467;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.option-box h6 svg {
    width: 20px;
    height: 20px;
}

.option-box p {
    color: #475467;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.pagination-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #EAECF0;
    justify-content: center;
}

.news_Prev {
    all: unset;
    cursor: pointer;
    position: absolute;
    left: 0;
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
}

.news_Prev[disabled] {
    opacity: 0.5;
}

.news_Prev::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/pagination-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.news_next::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/pagination-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    content: '';
}

.news_next {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 0;
    color: #475467;
    font-size: 14px;
    font-style: normal;
    font-weight: m 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
}

.news_next[disabled] {
    opacity: 0.5;
}

.pageNumber {
    all: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475467;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: 8px;

    transition: 0.2s;
}

.pageNumber[disabled] {
    background: #F9FAFB;

}

.swiper-button-disabled {
    opacity: 0.2;
}

#news-title {
    font-weight: 600;
    font-size: 26px;

}

.red-cell {
    color: #c54a4a !important;
}

.green-cell {
    color: rgb(51, 158, 51) !important;
}

.student-life-headings h3 {
    margin: 0;
    padding: 0;
    border: none;
}