<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBTE - {{{post_head}}}</title>
    <meta name="description" content="IBTE " />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
  />
  </head>

  <body>
    <div class="page-loader">
      <div class="dot-holder">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <!-- page modals -->

    <!-- heade start -->
    <header>
      <div class="container">
        <div class="header-top">
          <div class="header-top-left">
            <a id="head_email" href=""></a>
            <a id="head_phone" href=""></a>
          </div>
          <div class="header-top-right">
            <a id="twiter" href="#">
              <img src="assets/images/head-icon4.svg" alt="" />
            </a>
            <a id="facebook" href="#">
              <img src="assets/images/head-icon1.svg" alt="" />
            </a>
            <a id="linkedin" href="#">
              <img src="assets/images/head-icon2.svg" alt="" />
            </a>
            <a id="insta" href="#">
              <img src="assets/images/head-icon3.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom-content-holder">
            <div class="header-bottom-left">
              <a href="/" class="logo">
                <img src="assets/images/logo.svg" alt="" />
              </a>
              <nav>
                <ul>
                  <li>
                    <a href="javascript:void()"
                      ><span id="nav_menu1"></span>
                      <img src="assets/images/menu-icon.svg"
                    /></a>
                    <div class="header-dropdown-holder">
                      <ul>
                        <li id="page_about">
                          <a href="about">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon6.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub1_head">About IBTE</h5>
                              <p id="nav_menu1_sub1_desc">
                                Explore further about IBTE and our corporate
                                integration
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_why_ibte">
                          <a href="why">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon1.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub2_head">Why IBTE</h5>
                              <p id="nav_menu1_sub2_desc">
                                Uncover our unique advantages and standout
                                position in the field of education
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_faculty">
                          <a href="faculty ">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon2.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub3_head">
                                Faculty/IBTE team
                              </h5>
                              <p id="nav_menu1_sub3_desc">
                                Expert team members driving educational
                                excellence
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_accreditation_and_Recognition">
                          <a href="accreditation ">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon3.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub4_head">
                                Accreditation and recognition
                              </h5>
                              <p id="nav_menu1_sub4_desc">
                                Officially recognized and accredited for quality
                                education
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_our_partners">
                          <a href="our-partners ">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon4.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub5_head">Our Partners</h5>
                              <p id="nav_menu1_sub5_desc">
                                Strong collaborations with reputable partners
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_about_dubai">
                          <a href="dubai ">
                            <div class="head-menu-icon">
                              <img src="assets/images/about-icon5.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu1_sub6_head">About Dubai</h5>
                              <p id="nav_menu1_sub6_desc">
                                Explore the vibrant city with diverse
                                opportunities
                              </p>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li >
                    <a href="study "
                      ><span id="nav_menu2"></span>
                      <img src="assets/images/menu-icon.svg"
                    /></a>
                    <div class="header-dropdown-holder">
                      <ul>
                        <li id="page_study_with_ibte">
                          <a href="study ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon1.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub1_head">Study with IBTE</h5>
                              <p id="nav_menu2_sub1_desc">
                                Explore everything in one page
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_programs">
                          <a href="programs ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon2.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub2_head">Programs</h5>
                              <p id="nav_menu2_sub2_desc">
                                Explore the range of programs offered by IBTE
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_tuition_fees">
                          <a href="tution-fee ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon3.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub3_head">Tuition Fees</h5>
                              <p id="nav_menu2_sub3_desc">
                                Affordable and competitive tuition fees
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_admission">
                          <a href="admission ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon4.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub4_head">Admission</h5>
                              <p id="nav_menu2_sub4_desc">
                                requirements and the process to become a student
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_visas_and_insurance">
                          <a href="visas-and-Insurance ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon5.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub5_head">
                                Visas and Insurance
                              </h5>
                              <p id="nav_menu2_sub5_desc">
                                Explore visa and insurance requirements for
                                studying in Dubai
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_student_path">
                          <a href="student-path ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon6.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub6_head">Student Path</h5>
                              <p id="nav_menu2_sub6_desc">
                                Visualize your educational journey from start to
                                finish.
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_academic_calender">
                          <a href="academic-calendar ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon7.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub7_head">
                                Academic Calendar
                              </h5>
                              <p id="nav_menu2_sub7_desc">
                                Stay organized and informed with our concise
                                academic calendar
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_student_life">
                          <a href="student-life ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon8.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub8_head">Student Life</h5>
                              <p id="nav_menu2_sub8_desc">
                                Experience a vibrant and fulfilling student life
                                at our institute
                              </p>
                            </span>
                          </a>
                        </li>
                        <li id="page_ibte_campus">
                          <a href="campus ">
                            <div class="head-menu-icon">
                              <img src="assets/images/study-menu-icon9.svg" />
                            </div>
                            <span>
                              <h5 id="nav_menu2_sub9_head">IBTE Campus</h5>
                              <p id="nav_menu2_sub9_desc">
                                Explore our campus and online portal for a
                                comprehensive learning experience
                              </p>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li id="page_faq">
                    <a href="faq " id="nav_menu3">FAQ</a>
                  </li>
                  <li id="page_news_and_events">
                    <a href="news-and-events " id="nav_menu4">News & events</a>
                  </li>
                  <li id="page_contact">
                    <a href="contact " id="nav_menu5">Contact us</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-bottom-right">
              <a href="https://app.ibte.me"
                ><img src="assets/images/apply-btn-icon.svg" alt="" />
                <span id="nav_apply_btn"></span
              ></a>
              <div class="menu-btn" id="menu-btn">
                <span></span>
              </div>
              <a href="https://app.ibte.me/student/login"
                ><img src="assets/images/login-icon.svg" alt="" />
                <span id="nav_student_login"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- banner start -->

    <div class="container">
      <div class="breadcrum-holder">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/student-life">Student Life</a></li>
          <li><a href="#">{{{post_head}}}</a></li>
        </ul>
      </div>
    </div>

    <section class="container">
      <div
        class="banner"
        style="background-image: url('{{{post-header-img}}}')"
      >
        <div class="banner-content wow fadeInUp" data-wow-delay="0.2s">
          <h1>{{{post_head}}}</h1>
        </div>
      </div>
    </section>

    <section class="program-detail-holder student-life-headings">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="programs-navigator border-bottom border-top py-4">
              <h5>{{{post_head}}}</h5>
              <ul>
                <li>
                  <a href="#sec2">{{{inner_head1}}}</a>
                </li>
                <li>
                  <a href="#sec3">{{{inner_head2}}}</a>
                </li>
                <li>
                  <a href="#sec4">{{{inner_head3}}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-4 pb-4 border-bottom">
              <h5>{{{post_head}}}</h5>
              <p>{{{post_desc}}}</p>
            </div>
            <div class="mb-4 pb-4 border-bottom" id="sec2">
              <h3>{{{inner_head1}}}</h3>
              <p>{{{inner_desc1}}}</p>
            </div>
            <div class="mb-4 pb-4 border-bottom" id="sec3">
              <h3>{{{inner_head2}}}</h3>
              <p>{{{inner_desc2}}}</p>
            </div>
            <div class="mb-4 pb-4 " id="sec4">
              <h3>{{{inner_head3}}}</h3>
              <p>{{{inner_desc3}}}</p>
            </div>
           
          
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="container pb-0">
      <div class="save-big">
        <div class="row align-items-center">
          <div class="col-md-8 mt-1 mb-1">
            <h5 class="wow fadeInUp" data-wow-delay="0.1s">
              Thinking about studying but not sure what?
            </h5>
            <p class="wow fadeInUp" data-wow-delay="0.2s">
              Pellentesque in posuere augue. Vivamus ac libero nec nunc porta
              feugiat a ac ipsum. Cras vehicula sapien lobortis, ultricies velit
            </p>
          </div>
          <div class="col-md-4 mt-1 mb-1 text-lg-right">
            <a href="#">Contact our advisors</a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="container pb-0">
      <div class="opportunity-sec px-4 rounded">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4>Get Program details to your inbox</h4>
            <p>
              We will send you an email with all the details about Computer
              Science Program.
            </p>
          </div>
          <div class="col-md-6">
            <form  id="newsletterForm">
              <input type="email" name="email" placeholder="Enter your email" required />
              <button type="submit">Get Curriculum</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="need-help inner-need-help" >
      <div class="container">
        <div class="need-help-top-text d-none">
          <h5 id="section14_header1"></h5>
          <p id="section14_header1_desc"></p>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="sec-title text-left wow fadeInUp" data-wow-delay="0.2s">
              <h5 id="section14_tagline"></h5>
              <h2 id="section14_header2"></h2>
              <p id="section14_header2_desc"></p>
            </div>

            <div class="help-contact-list-holder">
              <div class="help-contact-box">
                <img src="assets/images/phone.jpg" alt="" />
                <span>
                  <span id="section14_card1_header1"></span>
                  <a href="tel:" id="section14_card1_header2"></a>
                  <p id="section14_card1_desc"></p>
                </span>
              </div>
              <div class="help-contact-box">
                <img src="assets/images/mail.jpg" alt="" />
                <span>
                  <span id="section14_card2_header1"></span>
                  <a href="mailto:" id="section14_card2_header2"></a>
                  <p id="section14_card2_desc"></p>
                </span>
              </div>
              <div class="help-contact-box">
                <img src="assets/images/message.jpg" alt="" />
                <span>
                  <span id="section14_card3_header"></span>

                  <p id="section14_card3_desc"></p>
                </span>
              </div>
              <div class="help-contact-box">
                <img src="assets/images/comment.png" alt="" />
                <span>
                  <span id="section14_card4_header"></span>

                  <p id="section14_card4_desc"></p>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <img
              id="getInfoImg"
              class="need-help-img"
              src="assets/images/help-img.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-content-holder">
          <div class="footer-content-box">
            <span id="foot-logo">
            <!-- <img src="assets/images/logo.svg" alt="" /> -->
          </span>
            <p id="footer_tag">Institute of Engineering, Technology and Innovation in Dubai</p>
          </div>
          <div class="footer-content-box">
            <h6 id="foot_title1">About</h6>
            <ul>
              <li><a id="foot_menu1" href="about">About Us</a></li>
              <li><a id="foot_menu2" href="faculty">Our Teachers</a></li>
              <li><a id="foot_menu3" href="our-partners">Partners</a></li>
              <li><a id="foot_menu4" href="dubai">About Dubai</a></li>
            </ul>
          </div>
          <div class="footer-content-box">
            <h6 id="foot_title2">Study with IBTE</h6>
            <ul>
              <li><a id="foot_menu5" href="/study">Study with IBTE</a></li>
              <li><a id="foot_menu6" href="/programs">Programs</a></li>
              <li><a id="foot_menu7" href="/tution-fee">Tuition fees</a></li>
              <li><a id="foot_menu8" href="/admission">Admissions</a></li>
              <li><a id="foot_menu9" href="/visas-and-Insurance">Visas and Insurance</a></li>
              <li><a id="foot_menu10" href="/student-path">Student path</a></li>
              <li><a id="foot_menu11" href="/academic-calendar">Academic Calendar</a></li>
              <li><a id="foot_menu12" href="/student-life">Student life</a></li>
              <li><a id="foot_menu13" href="/campus">IBTE Campus</a></li>
            </ul>
          </div>
          <div class="footer-content-box">
            <h6><a id="foot_menu14" href="/faq"> FAQ</a></h6>
          </div>
          <div class="footer-content-box">
            <h6><a id="foot_menu15" href="/news-and-events"> News and events</a></h6>
          </div>
          <div class="footer-content-box">
            <h6><a id="foot_menu16" href="#">Contact us</a></h6>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <a id="foot_email" href=""></a>
            <a id="foot_phone" href=""></a>
          </div>
          <div class="footer-center">
            <ul>
              <li id="terms">
                <a href="/terms">Terms and Condition</a>
              </li>
              <li id="privacy">
                <a href="/privacy">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <div class="footer-bottom-right">
            <ul>
              <li>
                <a id="foot_twiter" href="#"
                  ><img src="assets/images/foot-icon14.svg"
                /></a>
              </li>
              <li>
                <a id="foot_facebook" href="#"
                  ><img src="assets/images/foot-icon1.svg"
                /></a>
              </li>
              <li>
                <a id="foot_linkedin" href="#"
                  ><img src="assets/images/foot-icon2.svg"
                /></a>
              </li>
              <li>
                <a id="foot_insta" href="#"
                  ><img src="assets/images/foot-icon3.svg"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="page-options-btn" id="option_btn">
      <img class="option_open_icon" src="assets/images/option-icon.png" />
      <img class="option_close_icon" src="assets/images/close-icon.png" />
     
    </div>
    <div class="page-options-content option_box" >
      <ul>
        <li>
          <a id="op_call" href="#">Call us</a>
        </li>
        <li>
          <a id="op_email" href="#">Email us</a>
        </li>
        <li>
          <a id="op_whatsapp" href="#">WhatsApp us </a>
        </li>
        <li>
          <a id="op_location" href="#">Our Location</a>
        </li>
      </ul>
    </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/newsletter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
 $('.programs-loader').addClass('loaded')

const links = $(".programs-navigator a");

links.on("click", function (event) {
    event.preventDefault();
    const targetId = $(this).attr("href");
    $(targetId).get(0).scrollIntoView({
        behavior: "smooth"
    });

    // Remove the 'active' class from other links
    links.removeClass("active");

    // Add the 'active' class to the clicked link
    $(this).addClass("active");
});
      </script>

    <!-- <script src="https://kit.fontawesome.com/c5e5090d10.js" crossorigin="anonymous"></script> -->
  </body>
</html>
